@font-face {
    font-family: 'icons';
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/exo-regular.woff2") format("woff2");
}

@font-face {
    font-family: 'exo';
    font-style: italic;
    font-weight: normal;
    src: url("./fonts/exo-italic.woff2") format("woff2");
}

@font-face {
    font-family: 'exo';
    font-style: normal;
    font-weight: 100;
    src: url("./fonts/exo-light.woff2") format("woff2");
}

@font-face {
    font-family: 'exo';
    font-style: italic;
    font-weight: 100;
    src: url("./fonts/exo-lightitalic.woff2") format("woff2");
}

@font-face {
    font-family: 'exo';
    font-style: normal;
    font-weight: bold;
    src: url("./fonts/exo-bold.woff2") format("woff2");
}

@font-face {
    font-family: 'exo';
    font-style: italic;
    font-weight: bold;
    src: url("./fonts/exo-bolditalic.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: exo, sans-serif;
    font-size: 18px;
    line-height: 26px;
}

h1 {
    color: #FFA500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    padding: 0 30px 15px 30px;
}

h2 {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 10px;
}

p {
    margin-bottom: 16px;
}

ul, ol {
    padding: 0 0 14px 30px;
}

li {
    padding: 4px 0;
}

a, a:visited, a:focus, a:hover {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.logo {
    width: 80%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto 30px auto;
}

nav {
    pointer-events: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    overflow: auto;
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(22, 10, 34);
}

nav > ul {
    padding: 15px;
    list-style: none;
}

nav > ul ul {
    padding: 4px 0 4px 25px;
}

nav > ul li {
    pointer-events: auto;
    padding: 8px 0 8px 0;
}
nav > ul li li{
    padding: 1px 0 1px 0;
}

nav > ul a {
    display: flex;
    align-items: center;
}

nav > ul a i {
    margin: 0 15px 0 0;
}


i {
    display: inline-block;
    mask-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background: rgba(255, 255, 255, 0.9);
}
i.home {
    -webkit-mask: url(img/icn-home.svg);
    mask: url(img/icn-home.svg);
}
i.association {
    -webkit-mask: url(img/icn-people.svg);
    mask: url(img/icn-people.svg);
}
i.telmi-sync {
    -webkit-mask: url(img/icn-synchronize.svg);
    mask: url(img/icn-synchronize.svg);
}
i.telmi-os {
    -webkit-mask: url(img/icn-gameboy.svg);
    mask: url(img/icn-gameboy.svg);
}
i.documentation {
    -webkit-mask: url(img/icn-documentation.svg);
    mask: url(img/icn-documentation.svg);
}
i.download {
    -webkit-mask: url(img/icn-download.svg);
    mask: url(img/icn-download.svg);
}
i.contact {
    -webkit-mask: url(img/icn-social.svg);
    mask: url(img/icn-social.svg);
}


#home:hover ~ nav > ul > li:nth-child(1),
#association:hover ~ nav > ul > li:nth-child(2),
#telmi-sync:hover ~ nav > ul > li:nth-child(3),
#telmi-os:hover ~ nav > ul > li:nth-child(4),
#documentation:hover ~ nav > ul > li:nth-child(5),
#download:hover ~ nav > ul > li:nth-child(6),
#contact:hover ~ nav > ul > li:nth-child(7) {
    color: #FFA500;
    transition: color 0.3s;
}

#home:hover ~ nav > ul > li:nth-child(1) i,
#association:hover ~ nav > ul > li:nth-child(2) i,
#telmi-sync:hover ~ nav > ul > li:nth-child(3) i,
#telmi-os:hover ~ nav > ul > li:nth-child(4) i,
#documentation:hover ~ nav > ul > li:nth-child(5) i,
#download:hover ~ nav > ul > li:nth-child(6) i,
#contact:hover ~ nav > ul > li:nth-child(7) i {
    background: #FFA500;
    transition: background 0.3s;
}

body > div {
    width: 100%;
    padding: 0 0 0 20%;
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .logo {
    display: none;
}

.section-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px 0;
}

.section-purple {
    background: rgb(60, 24, 96);
    background: radial-gradient(circle, rgb(54, 22, 96) 0%, rgb(30, 8, 53) 100%);
    color: rgba(255, 255, 255, 0.9);
}

.section-purple-dark {
    background: rgb(22, 10, 34);
    background: radial-gradient(circle, rgb(43, 17, 68) 0%, rgb(22, 10, 34) 100%);
    color: rgba(255, 255, 255, 0.9);
}

.section-gonext {
    position: relative;
}

/* Animation Keyframes*/
@keyframes gonext {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 15px;
    }
}

@-moz-keyframes gonext {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 15px;
    }
}

@-webkit-keyframes gonext {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 15px;
    }
}

@-o-keyframes gonext {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 15px;
    }
}

.section-gonext:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -32px;
    width: 64px;
    height: 64px;
    background: url("./img/arrow-down.svg") no-repeat center center / 64px 64px;
    opacity: 0.3;
    transition: opacity 0.3s;
    -moz-animation: gonext 1s 0s alternate infinite;
    -webkit-animation: gonext 1s 0s alternate infinite;
    -o-animation: gonext 1s 0s alternate infinite;
    animation: gonext 1s 0s alternate infinite;
}

.section-gonext:hover:after {
    opacity: 1;
}

.cols {
    display: flex;
    flex-wrap: wrap;
}

.section-image .cols {
    align-items: center;
    justify-content: center;
}

.cols > div {
    flex: 1;
    min-width: 320px;
}

.cell {
    padding: 40px;
}

.link-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.link-logo img {
    opacity: 0.75;
    width: auto;
    height: 64px;
}

.img-screen {
    display: block;
    max-width: 80%;
    width: 580px;
    max-height: 580px;
    height: auto;
    object-fit: contain;
}

.img-miyoo {
    display: block;
    width: 90%;
    max-width: 980px;
    height: auto;
    margin: 20px auto;
}

@media screen and (max-width: 980px) {
    nav {
        display: none;
    }

    section {
        margin: 0;
        width: auto;
    }

    section .logo {
        display: block;
    }
}
